$colorBtnText: #fff;

$colorBtnPlusMinusCount: rgb(255 53 53);
$colorBtnPlusMinusCountHover: rgb(230 25 25);

$colorBtnPlusMinusSeting: #02a71c;
$colorBtnPlusMinusSetingHover: rgb(4 103 11);

$btnDisabled: #ccc;
$btnChangeMode: rgb(70, 70, 233);
$btnChangeModeHover: rgb(5, 67, 143);

$btnAutoClick: rgb(255, 31, 31);
$btnAutoClickHover: rgb(255, 12, 12);

$btnReset: rgb(41, 41, 41);
$btnResetHover: rgb(15, 15, 15);
