.inputSetting {
    max-width: 60px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0 10px;
    text-align: center;
    appearance: textfield;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &::placeholder {
      color: #aaa;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & {
      -moz-appearance: textfield;
    }
  }
.btnInputIncreaseDecrease {
    padding: 10px;
    border: none;
    background-color: #149b2a;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0f6e1f;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }