@import "../../common/styles/_templase.scss";
@import "../../common/styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCount {
  display: flex;
}

.controlPanel {
  @include controlPanel();
}
.boxTitle {
  @include boxTitle();
}

.btnChangeMode {
  @include btnModeControl($btnChangeMode, $btnChangeModeHover);
}

.btnReset {
  @include btnModeControl($btnReset, $btnResetHover);
}
.inputSetting {
  @include input-styles();
}
.btnInputIncreaseDecrease {
  @include button-styles(
    $colorBtnPlusMinusCount,
    $colorBtnPlusMinusCountHover,
    $colorBtnText,
    $btnDisabled
  );
}
