@import "../../common/styles/_templase.scss";
@import "../../common/styles/colors.scss";

.containerCount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlPanel {
  @include controlPanel();
}
.boxTitle {
  @include boxTitle();
}

.btnChangeMode {
  @include btnModeControl($btnChangeMode, $btnChangeModeHover);
}
.btnAutoClick {
  @include btnModeControl($btnAutoClick, $btnAutoClickHover);
}
.btnReset {
  @include btnModeControl($btnReset, $btnResetHover);
}
.inputSetting {
  @include input-styles();
}
.btnInputIncreaseDecrease {
  @include button-styles(
    $colorBtnPlusMinusCount,
    $colorBtnPlusMinusCountHover,
    $colorBtnText,
    $btnDisabled
  );
}
