// .containerSettings {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     border: 1px solid black
// }
.containerCount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 90%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;

    
}
/*
.inputSetting {
        
    max-width: 60px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0 10px;
    text-align: center;
    appearance: textfield;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &::placeholder {
      color: #aaa;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    & {
      -moz-appearance: textfield;
    }
  }

  .btnInputIncreaseDecrease {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
    */